// paymentmethod

.p404{
	margin-top: 60px;
	.notfound {background-color: white; border-top: 1px solid gray;}
	.head {
		padding: 0;
		.logo {background-color: #3f3e50; height: 80px; padding-top: 15px;}
	}
}

